<head>
  <title> Bachelor Nation Quotes</title>
 
</head>
<div class="title">
  <h1>The Most Dramatic Bachelor/ette Quotes</h1>
</div>

<div class="quote-box">
  <blockquote id="quote-text"><%= @quote.quote %></blockquote>

  <p id="quote-source"><%= @quote.author %></p>

</div>

<div class="quote-button">
  <br>
  <br>

  <button type="button" id="new=quote">New Quote</button>

  <p class=attribution>Designed by and for Bachelor Nation</p>
</div>
